body {
    background-color: #fee2b3;
    
}

/*
    Background ementa
*/
.bgHeader {
    background-image: url('../images/bg_edited.png');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
}

header {
    height: 850px;
}


/*
    Background prefil
*/
.bgHeader2 {
    background-image: url('../images/ESG-scaled1024.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
}

/*
    torna as imagens mais escuras
*/
.opacity {
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.5;
    position: relative;
}

/*
    navegação
*/
.navBar {
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 100%;

}

.navBar a {
    font-size: 20px;
    text-decoration: none;
    color: lightgray;
}

.navBar a.active {
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.navBar a:hover {
    text-decoration: none;
    text-shadow: 2px white;
}

.navBar h1{
    font-size: 100px;
}

.cardOpacity {
    height: 50px;
    width: 250px;
    background: #000000;
    opacity: 0.5;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 10px;
}


.center {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

/* Lista Lateral para opçoes Carne / Peixe / Vegetais */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    border-radius: 25px;
    background-color: white;
    color: orange;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Itens (comidas) do menu */
.menus {
    display: flex;
    justify-content: center;
}

.menus div {
    text-align: center;
    padding: 0 5% 5% 0;
}

.menu-item {
    text-align: center;
}

.menu-item img {
    border-radius: 15px;
    cursor: pointer;
}

.menu-item h5 {
    padding-top: 1%;
    color: orange;
}

/* Dias da semana */
.week-day-button {

    width: 100px;
    text-align: center;
    background-color: #f2c37d;
    border-radius: 15px;
    border: none;
    display: inline-block;
    
    transition-duration: 0.4s;

    margin-left: 2%;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #ffffff;
    text-decoration: none;
    outline:none;
}

.week-day-button:hover {
    background-color: #d4ab6c;
    border: none;
    outline: none;
}

.week-day-button:focus {
    background-color: #b8935c;
    border: none;
    outline:none;
}

.centerStar {
    text-align: center;
}

.reservar-button {

    width: 180px;
    background-color: #f2c37d;
    border-radius: 15px;
    border: none;

    margin-left: 2%;
    margin-bottom: 10%;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #ffffff;
    text-decoration: none;
    outline:none;
}

.reservar-button:hover {
    background-color: #d4ab6c;
    border: none;
    outline: none;
}

.reservar-button:focus {
    background-color: #b8935c;
    border: none;
    outline:none;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-content h3 {
    color: orange;
}

.modal-description {
    border-radius: 15px;
    padding: 1%;
    background-color: rgb(245, 245, 245);
}

/*
    foto de prefil
*/
.perfil {
    
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;

    height: 500px;
    width: 500px;

}

.perfil img {

    margin-top: 5%;

    border: 10px white solid;
    border-radius: 500px; 
    width: 400px; 
    height: 400px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.infoPerfil {
    text-align: center;
}

.infoPerfil h1{
    color: #FF5200;
    text-shadow: 2px 2px 5px tomato;
    font-size: 74px;
}

/*
    footer da pagina
*/
footer {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #2c3e50;
    color: #fff;
  }

footer .container {
    padding-top: 3%;
}

/*
    copyright section da pagina
*/

.copyright {
    padding: 2%;
    background-color: #1a252f;
  }


.checked {

    color: rgb(255, 209, 79);

}