body {
    background-color: #fee2b3;
    
}

<<<<<<< HEAD
header {
    background-image: url('/images/xhero_bg.jpg.pagespeed.ic.08xBTGP0Gm.png');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 1024px;
=======
.bgHeader {

    background-image: url('/images/bg_edited.png');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
>>>>>>> 21172adc99407aa9fc1a6e5620caada321d89045
    width: 100%;
    text-align: center;
    z-index: -1;
}

.opacity {
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.5;
    position: relative;
}

.navBar {
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 100%;

}

.navBar a {
    font-size: 20px;
    text-decoration: none;
    color: lightgray;
}

.navBar a.active {
    font-size: 22px;
    text-decoration: none;
    color: white;
}

<<<<<<< HEAD
header a {
=======
.navBar a:hover {
>>>>>>> 21172adc99407aa9fc1a6e5620caada321d89045
    text-decoration: none;
    text-shadow: 2px white;
}

.navBar h1{
    font-size: 100px;
}

.cardOpacity {
    height: 50px;
    width: 250px;
    background: #000000;
    opacity: 0.5;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 10px;
}

.center {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

/* Lista Lateral para opçoes Carne / Peixe / Vegetais */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    border-radius: 25px;
    background-color: white;
    color: orange;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Itens (comidas) do menu */
.menus {
    display: flex;
    justify-content: center;
}

.menus div {
    text-align: center;
    padding: 0 5% 5% 0;
}

.menu-item {
    text-align: center;
}

.menu-item img {
    border-radius: 15px;
    cursor: pointer;
}

.menu-item h5 {
    padding-top: 1%;
    color: orange;
}

/* Dias da semana */
.week-day-button {

    width: 100px;
    text-align: center;
    background-color: #f2c37d;
    border-radius: 15px;
    border: none;
    display: inline-block;

    margin-left: 2%;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #ffffff;
    text-decoration: none;
<<<<<<< HEAD
}

.reservar-button {

    width: 180px;
    background-color: #f2c37d;
    border-radius: 15px;
    border: none;

    margin-left: 2%;
    margin-bottom: 10%;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #ffffff;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content h3 {
    color: orange;
}

.modal-description {
    border-radius: 15px;
    padding: 1%;
    background-color: rgb(231, 231, 231);
=======
>>>>>>> 21172adc99407aa9fc1a6e5620caada321d89045
}